[Unit]
Description=GoBGP Routing Daemon
Wants=network.target
After=network.target

[Service]
Type=notify
ExecStartPre=/usr/bin/gobgpd -f /etc/gobgpd/gobgpd.conf -d
ExecStart=/usr/bin/gobgpd -f /etc/gobgpd/gobgpd.conf --sdnotify
ExecReload=/usr/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
User=gobgpd
Group=gobgpd
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
